/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    background-color: rgb(57, 50, 50) ;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    background: black;
    cursor: pointer;
} */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* .info{
    margin: 100px;
    padding: 0%;
} */
